In [1]:
#add arcpy in when Andres updates validation for my account
import pandas as pd

In [2]:
#I used a | instead of a , because it looked like that was what was seperating the data, the comma squished the data to the right side
df = pd.read_csv(r"C:\Users\efann\PROPERTY TAX\Assignment2_cityrecords.txt", sep ="|")
df.head()

,Year,Account_Number,Record_Type,Name,Address,City,State
0,2020,151,AAAA,City of Fort Worth,200 Texas St,Fort Worth,TX
1,2020,152,AAAA,City of Fort Worth,204 Texas St,Fort Worth,TX
2,2020,161,AAAA,City of Fort Worth,201 Texas St,Fort Worth,TX
3,2018,162,AAAA,City of Fort Worth,220 Texas St,Fort Worth,TX
4,2020,154,AAAA,City of Fort Worth,200 Texas St,Fort Worth,TX